<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABjUlEQVR4nM2XMVLCQBiFv90ZFZTCzlqCNXgEKdXr6BUAb6C14w2suYGgB8ASSnWCM9A8i5ARMknYCGF9M6/Kzr63m91/328k4QRjasA1cAG0gFPgePH1A3gHBkAfeEYKneaVlE9oCB4EU4EcGQruBcG6+fOEq4KeYF5AOMmZoCuoFDMAgeB1A+Ekh1m7kSbeEky2KB5zImjmG4hWXob4sokg3QBUBIMSxWO+CappBu52IB6zt2oAzpR12lMOTiFm346GJOyiHNwAe24VaSvYB24BjOAImAC11KGS2UjKGGV8+QZOLFF5TRcvF4fApQXaHsRjtC1w7tFA0xK9ar5QN4I5eTegvEMIMLNA3oDSYYEvj/qfFhh5NDCyRDHKF4aWKMP5Qv8flGJpCjxtJPI3PCKFy0lotuPnOEgGku4OA0knLREdCF78RbLfX1FmKB0L6utiebMkE2OtjeWrOzHcovgguXKX1qyi6GCm3w43zgQdFW7NVo3EzWlYQNi5OTWS3MpG1J5f4d6eT12m/QEnxrDuFgzPSgAAAABJRU5ErkJggg==" type="image/png">
  <link rel="stylesheet" href="assets/css/index.css">
  <title>Home</title>
</head>
<body>
  <div class="logoDIV">
  <a href="." title="click here to go to the home page" class="logo">
    kogswell
  </a>
</div>

<div id="index_content">
{content}
</div>

</body>
</html>